:root {
    --border-r-25: 0.5rem;
    --border-r-50: 0.75rem;
    --border-r-100: 1.5rem;
    --border-r-200: 3rem;

    --smallest-gap: 0.25em;
    --smaller-gap: 0.5em;
    --small-gap: 1em;
    --normal-gap: 2em;
    --large-gap: 4em;

    --app-width: 100svw;
    --width-unit: calc(var(--app-width) / 12);
    --app-nav-width: calc(var(--width-unit) * 1);
    --app-content-width: calc(var(--app-width) - var(--app-nav-width));

    --app-height: 100svh;
    --layout-header-size: 9svh;
    --layout-settings-size: 11svh;
    --layout-id-size: calc(var(--layout-header-size) - 2svh);
    --layout-content-size: calc(var(--app-height) - var(--layout-header-size));
    --layout-nav-size: calc(var(--app-height) - var(--layout-header-size) - var(--layout-settings-size));

    --transition-duration: 0.2s;
    --transition-long-duration: 0.5s;
    --transition-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    --book-pages-background: linear-gradient(to left,
            rgb(255 255 255 / 0.5) 5%,
            rgb(255 255 255) 6%,
            rgb(255 255 255 / 0.5) 10%,
            rgb(255 255 255) 11%,
            rgb(255 255 255 / 0.5) 15%,
            rgb(255 255 255) 16%,
            rgb(255 255 255 / 0.5) 20%,
            rgb(255 255 255) 21%,
            rgb(255 255 255 / 0.5) 25%,
            rgb(255 255 255) 26%,
            rgb(255 255 255 / 0.5) 30%,
            rgb(255 255 255) 31%,
            rgb(255 255 255 / 0.5) 35%,
            rgb(255 255 255) 36%,
            rgb(255 255 255 / 0.5) 40%,
            rgb(255 255 255) 41%,
            rgb(255 255 255 / 0.5) 45%,
            rgb(255 255 255) 46%,
            rgb(255 255 255 / 0.5) 50%,
            rgb(255 255 255) 51%,
            rgb(255 255 255 / 0.5) 55%,
            rgb(255 255 255) 56%,
            rgb(255 255 255 / 0.5) 60%,
            rgb(255 255 255) 61%,
            rgb(255 255 255 / 0.5) 65%,
            rgb(255 255 255) 66%,
            rgb(255 255 255 / 0.5) 70%,
            rgb(255 255 255) 71%,
            rgb(255 255 255 / 0.5) 75%,
            rgb(255 255 255) 76%,
            rgb(255 255 255 / 0.5) 80%,
            rgb(255 255 255) 81%,
            rgb(255 255 255 / 0.5) 85%,
            rgb(255 255 255) 86%,
            rgb(255 255 255 / 0.5) 90%,
            rgb(255 255 255) 91%,
            rgb(255 255 255 / 0.5) 95%,
            rgb(255 255 255) 96%,
            rgb(255 255 255 / 0.5) 100%);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial;
    font-size: clamp(0.75rem, 0.75rem + 0.225vw, 1.25rem);
    line-height: 1;
    margin: 0;
    padding: 0;
    min-height: var(--app-height);
    overflow: hidden;
}

@media (min-width: 1024px) {
    body {
        display: grid;
        grid-template: 'aside main' var(--app-height) / var(--app-nav-width) var(--app-content-width);

        color: var(--text-color);
        background-color: var(--background-color);
    }
}

@media (max-width: 1024px) {
    :root {
        --layout-header-size: 5svh;
        --layout-content-size: calc(var(--app-height) / 2 - var(--layout-header-size))
    }

    body {
        display: grid;
        grid-template: var(--layout-header-size) var(--layout-content-size) var(--layout-content-size) var(--layout-header-size) / 100svw;

        color: var(--text-color);
        background-color: var(--background-color);
    }

    body > div > *:nth-child(2) {
        grid-area: 1 / 1 / 1 / 1;
    }

    body > div > *:nth-child(3) {
        grid-area: 2 / 1 / 4 / 1;
    }

    body > div > *:nth-child(4) {
        grid-area: 1 / 1 / 5 / 1;
    }

    body > div > *:nth-child(5) {
        grid-area: 4 / 1 / 4 / 1;
    }
}

@font-face {
    font-family: "Pokemon";
    src: url("/fonts/ThraexSansRegular-v1000.ttf");
}

.pokemon-font {
    margin: 0;
    margin-bottom: -1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    font: inherit;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: var(--smaller-gap) var(--small-gap);
    background-color: var(--background-second-color);
}

a {
    text-decoration: none;
    color: inherit;
}

a,
button {
    cursor: pointer;
    transition: all var(--transition-duration) var(--transition-function);
}

a.squircle,
button.squircle {
    border-radius: var(--border-r-100);
    aspect-ratio: 1;
}

a.round,
button.round {
    border-radius: var(--border-r-200);
    aspect-ratio: 1;
}

button {
    padding: var(--smaller-gap) var(--small-gap);
}

a,
button {
    backdrop-filter: brightness(1.2);
    -webkit-backdrop-filter: brightness(1.2);
}

a:hover,
button:hover {
    backdrop-filter: brightness(1.4);
    -webkit-backdrop-filter: brightness(1.4);
}

menu,
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    & > thead > tr > th, & > tbody > tr > td {
        text-align: center;
    }
    & > thead {
        & > tr {
            & > th {
                padding-block: var(--small-gap);
                font-weight: lighter;
                background-color: var(--background-second-color);            
            }
        }
    }

    & > tbody {
        & > tr {
            & > td {
                border: none;
                padding-block: var(--smaller-gap);
            }

            &:hover > td {
                cursor: pointer;            
                font-weight: bolder;
                color: var(--background-color);
                background-color: var(--second-color);
            }

            &:nth-child(2n + 1) {
                background-color: var(--background-color);
            }

            &:nth-child(2n) {
                background-color: var(--background-second-color);
            }
        }
    }
}

h1 {
    margin-block: 0.5rem;
}

em {
    font-weight: bold;
    color: var(--primary-color)
}

img.img-error {
    height: 100%;
    aspect-ratio: 1;
    object-position: 0 !important;
}

::-webkit-scrollbar {
    margin-left: 1.5rem;
    float: left;
    height: 0.25rem;
    width: 0.25rem;
    overflow-y: scroll;
    margin-bottom: 25px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    border-radius: var(--border-r-50);
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}