:root {
    --text-color: hsl(150, 7%, 94%);

    --background-color-_: hsl(264, 20%, 45%);
    --background-color-__: hsl(263, 20%, 32%);
    --background-color-___: hsl(262, 24%, 22%);
    --background-color-____: hsl(261, 33%, 16%);

    --box-shadow: 4px 4px 16px #2e233e,
        -4px -4px 16px #1a1424;

    --primary-color: hsl(264, 30%, 70%);
    --secondary-color: #2980ef;
    --third-color: hsl(264, 28%, 56%);
}