:root {
    --text-color: hsl(0, 0%, 50%);
    --background-accent: hsl(265, 27%, 79%);
    --background-alt-color: hsl(262, 29%, 89%);
    --background-color: hsl(264, 27%, 83%);

    --primary-color: red;
}