:root {
    --text-color: hsl(0, 0%, 33%);

    --background-color-_: hsl(310, 100%, 95%);
    --background-color-__: hsl(302, 100%, 90%);
    --background-color-___: hsl(294, 100%, 85%);
    --background-color-____: hsl(286, 100%, 80%);
    --background-color-_____: hsl(278, 58%, 70%);

    --box-shadow: 4px 4px 16px var(--background-color-_____),
        -4px -4px 16px var(--background-color-_____);

    --primary-color: hsl(280, 90%, 69%);
    --secondary-color: #2980ef;
    --third-color: hsl(323, 53%, 76%);
}