:root {
	--s-smallest: 320px;
	--s-smaller: 375px;
	--s-small: 425px;
	--s-medium: 768px;
	--s-large: 1024px;
	--s-larger: 1440px;
	--s-largest: 2560px;
}

body {
	background: var(--theme-background);
	color: var(--theme-text);
	font-family: 'Cascadia Code', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input {
	font: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

::-webkit-scrollbar {
	margin-left: 1.5rem;
	float: left;
	height: 0.25rem;
	width: 0.25rem;
	background: var(--theme-background);
	overflow-y: scroll;
	margin-bottom: 25px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--theme-text);
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}