body {
	background: var(--theme-background);
	color: var(--theme-text);
	font-family: 'Cascadia Code', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	margin-left: 22px;
	float: left;
	height: 0.25rem;
	width: 0.25rem;
	background: var(--theme-background);
	overflow-y: scroll;
	margin-bottom: 25px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--theme-text);
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

a {
	text-decoration: none;
	color: inherit;
}
